<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <title>北醫賃居資訊服務網</title>

<!--CSS
================================================== -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/foundation.css">
  <!-- 單頁plus -->  
  <link rel="stylesheet" href="css/clndr.css">
  <!-- 單頁plus結束 -->  
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/all.css">  


<!--IE8支援支援HTML5
================================================== -->
<!--[if lt IE 9]>
<script src="js/vendor/html5shiv.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">
<![endif]-->

<!--JS
================================================== -->
  <script src="js/vendor/modernizr.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" ></script>  
  <script src="js/vendor/jquery.touchSwipe.min.js"></script>
  <script src="js/vendor/jquery.easing.1.3.js"></script>
  <script src="js/vendor/foundation.min.js"></script> 
  <script src="js/layout.js"></script> 
  <script src="js/page.js"></script> 
</head>
<body>

<header class="header"> 
<div class="header-top">   
    <div class="row">
      <div class="large-12 columns">
          <!-- side選單 -->
          <ul class="nav-second inline-list">
            <li class="sign-in"><a href="javascript:;" data-reveal-id="myModal">登入<i class="fa fa-sign-in icon_font"></i></a></li>
            <li><a href="../en/index.html">English</a></li>            
            <li><a href="site_map.html">網站地圖</a></li>
            <li><a target="_blank" href="http://www.tmu.edu.tw/v3/main.php">臺北醫學大學</a></li>
          </ul>
      </div>
    </div>
</div>

<!-- 光箱-登入 -->
<div id="myModal" class="reveal-modal full reveal-modal-login" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="modal-login">
        <div class="row small-collaps">
            <div class="medium-12 columns">
                <h3 class="title-modal title-05">登入                    
                </h3>

                <input type="text" placeholder="帳號">
                <input type="text" placeholder="密碼">

                <div class="row check_code">
                    <div class="small-5 columns">
                         <input class="inline" type="text" placeholder="驗證碼">
                    </div>
                    <div class="small-5 columns">
                         <img class="inline" src="images/icon/check_code.png">
                    </div>
                    <div class="small-2 columns">
                         <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>

                <a class="button btn-full" href="newslist.html">登入</a>

                <div class="align-center text-center">或</div>

                <a class="button btn-full btn-red" href="newslist.html">
                <i class="fa fa-google-plus"></i>
                使用Google帳號登入</a>

                <!-- <hr class="hr_opacity"> -->
                
                <div class="align-center text-center bottom_txt">
                    <a href="javascript:;">申請房東帳號</a>
                    <a href="javascript:;">忘記密碼</a>
                </div>


            </div>
            <div class="medium-12 columns">
            </div>
        </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div class="header-bottom">   
    <div class="row collapse">
      <div class="large-12 columns">
         <!-- logo -->
         <div class="logo"><a href="index.html"></a></div>
         <!-- icon主選單 -->
        <div class="nav-primary icon-bar five-up show-for-large-up">
          <a class="item" href="news_list.html">
            <i class="fa fa-bullhorn icon_font"></i>
            <label>最新消息</label>
          </a>
          <a class="item" href="rent_list.html">
            <i class="fa fa-home icon_font"></i>
            <label>租賃物件</label>
          </a>
          <a class="item" target="_blank" href="http://my2.tmu.edu.tw/site/houseservice">
            <i class="fa fa-comment icon_font"></i>
            <label>討論區</label>
          </a>
          <a class="item active" href="visit_record.html">
            <i class="fa fa-key icon_font"></i>
            <label>訪視紀錄</label>
          </a>
          <a class="item" href="visit_list_tutor.html">
            <i class="fa fa-book icon_font"></i>
            <label>導師專區</label>
          </a>
          <a class="item" href="my_data.html">
            <i class="fa fa-folder-open icon_font"></i>
            <label>我的資料</label>
          </a>
          <a class="item" href="contact_us.html">
            <i class="fa fa-paper-plane icon_font"></i>
            <label>聯絡我們</label>
          </a>
        </div>

        <!-- 手機menu icon -->
        <a href="javascript:;" class="menu-icon hide-for-large-up">Menu</a>
        


      </div>
    </div>
</div>
</header>

<!-- 手機主選單 -->
        <div class="nav-mobile">
          <a class="item" href="news_list.html">最新消息
          </a>
          <a class="item" href="rent_list.html">租賃物件
          </a>
          <a class="item" target="_blank" href="http://my2.tmu.edu.tw/site/houseservice">討論區
          </a>
          <a class="item" href="visit_list.html">訪視行程
          </a>
          <a class="item" href="visit_list_tutor.html">導師專區
          </a>
          <a class="item" href="visit_record.html">我的資料
          </a>
          <a class="item" href="contact_us.html">聯絡我們
          </a>
        </div>


 
<!-- 主視覺 -->
<div class="mainvision show-for-large-up">        
        <img class="img-responsive" data-interchange="[images/banner/inside01.png,(default)], [images/banner/banner01_600w.png,(small)], [images/banner/banner01_600w.png,(medium)], [images/banner/inside01.png,(large)]">    
</div>

<!-- 每頁內容置換 -->
<div class="contain visit_pages"> 

  <!-- 內頁標題 -->
  <div class="row">     
      <div class="small-12 columns">
          <h3 class="title-page title-15">選擇訪視時間              
          </h3>
          
      </div>
  </div>
 <!-- 內頁頁籤 -->
  <div class="row">     
      <div class="large-12 columns">
          <div class="tabs-content rent_list-tab-content">
              <div class="content active">
                <div class="row collapse">
                    <div class="large-12 columns search-zone">
                         <!-- 事件日曆 -->
                          <div id="visit-clndr" class="cal1"></div>
                     


                    </div>
                </div>
              </div>
          </div>
        </div>
  </div>


<!-- RWD表格 -->
<div class="row text-center data_box">     
      <div class="small-12 columns rwdsp">

        <table>
          <thead>
            <tr>
              <th width="8.33%">學年度</th>
              <th width="8.33%">日期</th>
              <th width="8.33%">約訪時間</th>
              <th width="8.33%">方式</th>
              <th width="8.33%">學號/姓名</th>

              <th>賃居地址</th>

              <th width="8.33%">賃居電話</th>
              <th width="8.33%">狀態</th>
              <th width="8.33%">網站操作</th>
              <th width="8.33%">訪評結果</th>
              <th width="8.33%">複查結果</th>
            </tr>
          </thead>
          <tbody>
          
          <tr>
            <td class="text-left" data-title="學年度">103/2</td>
            <td class="text-left" data-title="日期">2014/06/01</td>
            <td class="text-left" data-title="約訪時間">02:00~02:30</td>
            <td class="text-left" data-title="方式">實地訪視</td>
            <td class="text-left" data-title="學號/姓名">
            D301096003<br>萬序恬同學</td>
            <td class="text-left" data-title="賃居地址"><a target="_blank" href="https://goo.gl/Kde2V3">台北市中山區南京東路1段96號9-5樓A室</a></td>
            <td class="text-left" data-title="賃居電話">0912123124</td>
            <td class="text-left" data-title="狀態">未完成</td>
            <td class="text-left" data-title="網站操作"><a href="visit_edit.html">更改時間</a></td>
            <td class="text-left" data-title="訪評結果">不合格</td>
            <td class="text-left" data-title="複查結果">不合格</td>
          </tr>

           <tr>
            <td class="text-left" data-title="學年度">103/2</td>
            <td class="text-left" data-title="日期">2014/06/01</td>
            <td class="text-left" data-title="約訪時間">02:00~02:30</td>
            <td class="text-left" data-title="方式">實地訪視</td>
            <td class="text-left" data-title="學號/姓名">
            D301096003<br>萬序恬同學</td>
            <td class="text-left" data-title="賃居地址"><a target="_blank" href="https://goo.gl/Kde2V3">台北市中山區南京東路1段96號9-5樓A室</a></td>
            <td class="text-left" data-title="賃居電話">0912123124</td>
            <td class="text-left" data-title="狀態">未完成</td>
            <td class="text-left" data-title="網站操作"><a href="visit_assess.html">訪視評核</a></td>
            <td class="text-left" data-title="訪評結果">不合格</td>
            <td class="text-left" data-title="複查結果">不合格</td>
          </tr>

        </tbody>
        </table>
      </div>
</div>

  <!-- 預約光箱 -->
<div id="modal_time" class="reveal-modal calender_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
     <div class="row time_select">     
        <div class="small-12 columns">
              <div class="row">     
                 <div class="large-3 columns">
                       <input id="checkbox3" type="checkbox" checked>
                      <label for="checkbox3">08:00~08:30</label>
                </div>
                 <div class="large-3 columns">
                       <input id="checkbox4" type="checkbox">
                      <label for="checkbox4">08:30~09:00</label>           
                </div>
                <div class="large-3 columns">
                      <input id="checkbox5" type="checkbox">
                      <label for="checkbox5">09:00~09:30</label>
                </div>
                 <div class="large-3 columns">
                      <input id="checkbox6" type="checkbox">
                      <label for="checkbox6">09:30~10:00</label>
                </div>
              </div>
              <div class="row"> 
               <div class="large-3 columns">
                      <input id="checkbox5" type="checkbox">
                      <label for="checkbox5">11:00~11:30</label>
                </div>               
            </div>
      </div>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>

    <div class="row text-center">     
        <div class="small-12 columns">
             <a class="button M-T-20" href="javascript:;">送出</a>
         </div>
   </div>

</div>





  </div>


  <!-- contain結束 -->
</div>
   

<footer class="footer">
    <ul class="nav-footer inline-list">
            <li><a target="_blank" href="http://rent.tmu.edu.tw/admin/index_login.php">管理平台</a></li>
            <li><a href="news_list.html">最新消息</a></li>            
            <li><a target="_blank" href="http://depsys.tmu.edu.tw/evaluate/Login.aspx">長官專區</a></li>
            <li><a href="member.html">會員專區</a></li>

            <li><a href="rent_list.html">租賃物件</a></li>
            <li><a href="contact_us.html">聯絡我們</a></li>            
            <li><a href="site_map.html">網站地圖</a></li>
            <li><a target="_blank" href="http://rent.tmu.edu.tw/school_safety_login.php">校安工作平台</a></li>

            <li><a target="_blank" href="http://www.tmu.edu.tw/v3/main.php">臺北醫學大學</a></li>
    </ul>

    <p>Copyright © 2015 臺北醫學大學賃居服務網 版權所有 轉載必究</p>
</footer>




  <script src="js/vendor/clndr_json2.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src= "js/vendor/clndr_moment-2.8.3.js"></script>
  <script src="js/vendor/clndr.js"></script>
  <script>
  var clndr = {};

$( function() {
    //月曆樣板設定
    var clndrTemplateA = "<div class='clndr-controls'>" +
    "<div class='clndr-control-button'><span class='clndr-previous-button'><<</span></div><div class='month'><%= month %> <%= year %></div><div class='clndr-control-button rightalign'><span class='clndr-next-button'>>></span></div>" +
    "</div>" +
    "<table class='clndr-table' border='0' cellspacing='0' cellpadding='0'>" +
    "<thead>" +
    "<tr class='header-days'>" +
    "<% for(var i = 0; i < daysOfTheWeek.length; i++) { %>" +
      "<td class='header-day'><%= daysOfTheWeek[i] %></td>" +
    "<% } %>" +
    "</tr>" +
    "</thead>" +
    "<tbody>" +
    "<% for(var i = 0; i < numberOfRows; i++){ %>" +
      "<tr>" +
      "<% for(var j = 0; j < 7; j++){ %>" +
      "<% var d = j + i * 7; %>" +
      "<td class='<%= days[d].classes %>'><div class='day-contents'><%= days[d].day %>" +

      "</div><a class='time_event' href='#'' data-reveal-id='modal_time'><span class='dispear-681'>開放</span><span class='time_event_num'>5</span><span class='dispear-681'>個時段</span></a></td>" +
      "<% } %>" +
      "</tr>" +
    "<% } %>" +
    "</tbody>" +
  "</table>";


  // pass in events(事件日曆)
  // ================================================================================
  clndr.passInEvents = $('#visit-clndr').clndr({

    template: clndrTemplateA,
    daysOfTheWeek: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
    
  });
});




  </script>  
  <!--<script src="http://localhost:35729/livereload.js"></script> -->
  </body>
</html>